body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #565656;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: white !important;
}

.blue-color {
  background-color: #77bdfb !important;
}

.cyan-color {
  background-color: #49d0af !important;
}

.yellow-color {
  background-color: #ffce4b !important;
}

.white-color {
  background-color: #ffffff !important;
}

.box h3 {
  color: white;
  font-size: 25px;
}

.box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid#ffce4b;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
  padding: 5px;
  margin: 4px;
  color: black;
  font-size: 23px;
  text-align: center;
}

.img-detail {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.box-detail {
  margin: 0 auto;
  padding: 20px;
  /* margin-top: 5px; */
  width: 40%;
  color: white;
}

.box-detail-content {
  margin: 0 auto;
  padding: 20px;
  background: white;
  width: 40%;
  border-radius: 40px;
  margin-bottom: 60px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.pokename {
  font-size: 34px;
}

.pokeball {
  margin-top: -50px !important;
}

.description {
  font-size: 15px;
  margin-top: 20px;
  color: #727272;
  font-weight: bold;
}

.detail-content h3 {
  color: #787878;
  text-align: center;
}

.list-poke-name {
  margin-top: -2px;
}

.chip {
  font-size: 11px !important;
}

.chip-type {
  margin: 5px;
  font-size: 20px !important;
  padding: 20px;
}

.back-icon {
  color: white;
  font-size: 39px !important;
}

.subtitle {
  color: #c7c7c7;
  font-size: 16px;
  font-weight: bold;
}

.detail-header {
  font-size: 20px;
  margin-bottom: 60px !important;
}

.detail-header span {
  font-size: 24px;
  font-weight: bold;
  line-height: 50px !important;
}

.subtitle-value {
  color: #727272;
  margin-top: 5px;
  font-size: 20px;
}

.box-profile {
  display: inline-block;
  min-width: 20%;
  padding: 5px;
  margin: 20px;
  margin-top: 30px;
}

.loading-container {
  position:fixed;
  width:100%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  text-align: center;
  z-index:9999;
}

.bg-transparant {
  background-color: white !important;
}

.loading-loader {
  top: 10%;
  position: relative;
}

.loading-loader img {
  height: 300px;
  width: 300px;
}

.vl {
  border-left: 2px solid green;
  height: 100px;
}

.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}

.moves-detail {
  margin-top: 20px !important;
}

.detail-content {
  padding: 10px;
}

.note {
  margin-top: 50px;
}

.note svg {
  font-size: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .box-detail {
    width: 100%;
  }
  .box img {
    width: 100px;
    margin-top: 10px;
    height: 100px;
  }

  .box h3 {
    font-size: 18px;
    word-break: break-all;
  }

  .box-detail-content {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box-detail-content {
    width: 80%;
  }
  .box-detail {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box-detail-content {
    width: 80%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .box-detail {
    width: 70%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

